$yellow: #f89a02 !default;
$dark-yellow: #df8a01 !default;
$dark-yellow-2: #ad6b01 !default;
$white: #ffffff !default;
$blue: #1c0063 !default;
$gray: #b1b1b1 !default;
$dark-gray: #191a1b !default;
$dark-gray-2: #101010 !default;
$dark-gray-3: #4a5568 !default;
$light-gray: #dddddd !default;
$light-gray-2: #c3c3c3 !default;
$light-gray-3: #f9f9f9 !default;
$light-gray-4: #8a94a6 !default;
